doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Chat
		link(rel="stylesheet", href="lib/bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
		script(src='lib/jquery-3.1.0.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="lib/bootstrap.min.js")
		script(src='lib/jquery.slimscroll.min.js')
		script(src="lib/jquery.timeago.js")
		script(src="script.js")
	body
		div.container-fluid#main
			ul(class="nav nav-tabs")
				li(role="presentation" class="active")
					a#navHome(href="/") Home
				li(role="presentation")
					a#navChat(href="/chat") Chat
				li(role="presentation")
					a#navUsers(href="#") Users
				li(role="presentation")
					a#navInbox(href="#") Inbox
				li(role="presentation")
					a#navSearch(href="#") Search
				li(role="presentation")
					a#navProfile(href="#") Profile
			div#mainContent.tab-content
				div#chatEntriesPanel(class="panel panel-primary ")
					div(class="panel-heading")
						h3
							span#chatTitle GlobalChat
					div(class="panel-body")
						div#chatEntries
						div.row#entries
							input(type='text')#messageInput.chatInput
							div.btn-group
								button.btn#submit(data-loading-text="Send") Send					
				div#nbUsersDiv
					p There is 
						span#nbUsers
						|  connected user(s).
	div.modal.fade#modalPseudo(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3 Guest Login Form
				div.modal-body
					p Choose a name :
					input(type='text')#pseudoInput
					div.alert.alert-error#alertPseudo
						| This name is already used ! Choose another one.
					p Set your age :
					input(type='text')#pseudoAgeInput
					p Set your sex :
						select#pseudoSexInput
							option M
							option F
							option ?
					div.modal-footer
					button.btn.btn-primary#pseudoSubmit Go to the chat
	div.modal.fade#modalInfos(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3 Infos
				div.modal-body
