doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Chat
		link(rel="stylesheet", href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="style.css")
		script(src='lib/jquery-3.1.0.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js")
		script(src='lib/jquery.slimscroll.min.js')
		script(src="lib/jquery.timeago.js")
		script(src="lib/jquery.crs.min.js")
		script(src="script.js")
	body
		div.container-fluid#main
			ul#mainNav(class="nav nav-tabs")
				li(role="presentation" class="active")
					a#navHome(href="#homeAnchor" data-toggle="tab") Chat
				li(role="presentation")
					a#navUsers(href="#usersAnchor" data-toggle="tab") Users
				li(role="presentation")
					a#navInbox(href="#inboxAnchor" data-toggle="tab") Inbox
				li(role="presentation")
					a#navSearch(href="#searchAnchor" data-toggle="tab") Search
				li(role="presentation")
					a#navProfile(href="#profileAnchor" data-toggle="tab") Profile
			div#mainContent.tab-content
				div#homeAnchor(class="tab-pane fade in active")
					ul#userChatBar(class="nav nav-tabs")
						li(role="presentation")
							a(href="#" class="user-chat-item") Global Chat
					div.row
						div.col-md-3#sidePanel
							div#sidePanelEntries(class="panel panel-primary full-height")
								div(class="panel-heading")
									h4
										span#sideTitle Users
								div(class="panel-body")
									div#userEntries
								
						div.col-md-9#middlePanel
							div#chatEntriesPanel(class="panel panel-primary tightPanel")
								div(class="panel-heading")
									h4
										span#chatTitle Global Chat
								div(class="panel-body")
									div#chatEntries
									div.row#entries
										input(type='text')#messageInput.chatInput
										div.btn-group
											button.btn#submit(data-loading-text="Send") Send					
					div#nbUsersDiv
						p There is 
							span#nbUsers
							|  connected user(s).
				div#usersAnchor(class="tab-pane fade")
					div.tab-content
						div#userPanel(class="panel panel-primary")
							div(class="panel-heading")
								h4
									span Users
							div(class="panel-body")
									div#usersListLarge
				div#inboxAnchor(class="tab-pane fade")
					div.tab-content
						div#inboxPanel(class="panel panel-primary")
							div(class="panel-heading")
								h4
									span Inbox
				div#searchAnchor(class="tab-pane fade")
					div.tab-content
						div#searchPanel(class="panel panel-primary")
							div(class="panel-heading")
								h4
									span Search
				div#profileAnchor(class="tab-pane fade")
					div.tab-content
						div#profilePanel(class="panel panel-primary")
							div(class="panel-heading")
								h4
									span Profile
									
	div.modal.fade#modalPseudo(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3 Guest Login Form
				div.modal-body
					div#formContainer.modal-body
						div.row
							div.col-md-12
								p 
									b Choose a name :
									input(type='text')#pseudoInput
									div.alert.alert-danger#alertPseudo
										| This name is already used ! Choose another one.
									div.alert.alert-danger#alertPseudoBlank
										| Your name cannot be blank.
									div.alert.alert-danger#alertPseudoLong
										| Your username cannot be longer than 14 characters.
						div.row
							div.col-md-6
								p 
									b Set your age :
									- var ages = 18
									select#pseudoAgeInput
										while ages < 90
											option= ages
											- ages++;
							div.col-md-6
								p 
									b Set your sex :
									- var sexes = ['Female', 'Male', 'Couple', 'Other']
									select#pseudoSexInput
										each sex in sexes
											option= sex
						div.row
							div.col-md-4
								p 
									b Country :
									select#pseudoCountryInput.crs-country(data-region-id="pseudoRegionInput")
									div.alert.alert-danger#alertPseudoCountry
										| Pleace choose a country.
						div.row
							div.col-md-3
								P 
									b Region
									select#pseudoRegionInput
									div.alert.alert-danger#alertPseudoRegion
										| Please choose a country and a region.
					div.modal-footer
					button.btn.btn-primary#pseudoSubmit Go to the chat
	div.modal.fade#modalInfos(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h3 Infos
				div.modal-body
	div#desktopTest.hidden-xs
