#main {
	padding-top: 70px;
}
#chatEntries {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* message received */
.message {
	overflow: hidden;
	padding: 0 12px;
	color: black;
	background: #F3F6EB; /* Old browsers */
	float: left;
	margin-left: 10px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 914px;

    -webkit-border-radius:10px;
 	-moz-border-radius:10px;
  	border-radius:10px;
}

/* speech bubble triangle received*/
.message:after {
    content: "";
    position:absolute;
    margin-left: -20px;
    margin-top: -5px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #F3F6EB;
    transform:rotate(-45deg);
}

/* message sent */
.self {
	background: #ADF6D7; /* Old browsers */
	margin-left: -10px !important; 
    text-align: right;
}

/* Speech bubble triangle sent*/
.self:after {
    content: "";
    position: absolute;
    right: 10px;
    margin-left: -20px;
    margin-top: -5px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ADF6D7;
    transform:rotate(-90deg) !important;
}


.infos {
	font-size: 10px;
	color: #5C5C5C;
}
.btn-group {	
    float: right;
}
#messageInput {
	width: 830px;
	margin-left: 20px;
}
#entries {
	margin-top: 10px;
}
@-webkit-keyframes flip {
	0% {
		-webkit-transform: rotateX( 90deg );
	}
	100% {
		-webkit-transform: rotateX( 0deg );
	}
}
