/* message received */
.message {
	overflow: hidden;
	padding: 0 12px;
	color: black;
	background: #F3F6EB; /* Old browsers */
	float: left;
	margin-left: 10px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 90%;

    -webkit-border-radius:10px;
 	-moz-border-radius:10px;
  	border-radius:10px;
}

.message {
	overflow: hidden;
	padding: 0 12px;
	color: black;
	background: #F3F6EB; /* Old browsers */
	float: left;
	margin-left: 10px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 90%;

    -webkit-border-radius:10px;
 	-moz-border-radius:10px;
  	border-radius:10px;
}

.alert-error {
	color = 'red';
}

/* message sent */
.self {
	background: #ADF6D7; /* Old browsers */
	margin-left: -10px !important; 
    text-align: right;
}

.infos {
	font-size: 10px;
	color: #5C5C5C;
}

.btn-group {	
    float: right;
}

.chatInput {
	width: 66%;
	margin-left: 5%;
	margin-left: 5%;
}

#entries {
	margin-top: 10px;
}

/*for scrollable tabs*/
.nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;
	display: -moz-box;
}

.nav-tabs>li {
	float: none;
}
	 
